a.category.ui-btn  {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui-btn:focus, .ui-btn:focus, .ui-body-b.ui-focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.landing_page {
  background: url("../img/elvis-bg.jpg");
  background-size: 110%;
  height: 638px;
  border: 1px solid black; /*try to get rid of this without messing up rest of image*/
}

h1, h4 {
  color: #E0E0FF;
  font-family: TitleFont;
  padding: 10px 0px 5px 0px;
  text-align: center;
  text-shadow: 2px  0px 3px #3D3D99, 0px  2px 3px black;
}

a.category.ui-btn {
  min-height: 0px !important;
}

@font-face {
  font-family: "Fradle";
  src: url('../fonts/FRADLE__.ttf');
}

#single {
  height: 100%;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

h1.ui-title {
  padding-top: 20px !important;
  margin-bottom: -8px !important;
}

.event_text_container {
  position: absolute;
  top: 110px;
  left: 18px;
  width: 325px;
  height: 290px;
}

#yes, #no, #about {
  background: #454545;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 20px;
  border-left: 2px solid #A36666;
  border-top: 2px solid #A36666;
  border-right: 2px solid #660000;
  border-bottom: 2px solid #660000;
  box-shadow: 3px 3px 3px black;
  margin-top: 5px;
  margin-left: 30px;
  padding-bottom: -40px;
  margin-bottom: -40px;
}

#yes {
  float: right;
  margin-right: 30px;
  border-left: 2px solid #C2F0C2;
  border-top: 2px solid #C2F0C2;
  border-right: 2px solid #145214;
  border-bottom: 2px solid #145214;
}

#yes p {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

#no p {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

#about {
  position: relative;
  width: 120px;
  height: 120px;
  left: 25%;
  top: -85px;

  border-left: 2px solid #CCCCFF;
  border-top: 2px solid #CCCCFF;
  border-right: 2px solid #3D3D99;
  border-bottom: 2px solid #3D3D99;
}

h2 {
  position: absolute;
  bottom: 0px;
  font-family: Fradle;
  font-size: 18px;
  color: #E0E0FF;
  width: 305px;
/*  text-shadow: 2px  2px 2px #3D3D99, 2px  2px 2px black;
*/  background: rgba(0,0,0,0.5);
  padding: 10px 10px 18px 10px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

h7 {
  font-family: Fradle;
  font-size: 16px;
  color: #E0E0FF;
  text-shadow: 2px  2px 2px #3D3D99, 2px  2px 2px black;
}

#event_name {
  color: red;
}

a {
  text-decoration: none !important;
}

p {
  color: #E0E0FF;
  font-size: .9em !important;
  font-weight: normal;
  text-shadow: 2px  2px 2px #3D3D99, 2px  2px 2px black;
}

.stock {
  height: 100px;
  width: 100px;
}

.event_info {
  margin-top: 10px;
  border-radius: 20px;
  height: 325px;
  width: 325px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 15px 0px 0px 15px;
  border-radius: 20px;
  border-left: 3px solid #CCCCFF !important;
  border-top: 3px solid #CCCCFF !important;
  border-right: 3px solid #3D3D99 !important;
  border-bottom: 3px solid #3D3D99 !important;
  box-shadow: 5px 5px 5px black;
  background-color: #353535;
  position: relative;
/*  -moz-box-shadow:    inset 0 0 30px #000000;
  -webkit-box-shadow: inset 0 0 30px #000000;
  box-shadow:         inset 0 0 30px #000000;*/
}

.cat_imgs {
  width: 60;
  height: 40px;
  padding: 12px;
}

.event_picker_img {
  border-radius: 20px;
  border-left: 2px solid #CCCCFF;
  border-top: 2px solid #CCCCFF;
  border-right: 2px solid #3D3D99;
  border-bottom: 2px solid #3D3D99;
  margin: auto auto;
  display: block;
  margin-top: 7%;
  background-color: #E0E0FF;
  padding: 4px;
  box-shadow: 5px 5px 5px black !important;
}

@font-face {
  font-family: "TitleFont";
  src: url('../fonts/MavblisDemo.otf');
}

h3 {
  font-family: TitleFont;
  color: #E0E0FF;
  margin-top: 68%;
  font-size: 50px;
  margin-left: 15%;
  text-shadow: 2px  0px 3px #3D3D99, 0px  2px 3px black;
}

.event_name {
  position: absolute;
  top: 4%;
  left: 0px;
  width: 100%;
}

#logo {
  min-width: 100%;
}

.login-button {
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 50%;
}

#sub {
  text-align: center;
  margin-top: 2px !important;
  font-size: 30px !important;
}

#submit_preferences {
  border-top: 1px solid black;
}

#container.1 {
  padding-bottom: 42px;
}

#filler {
  height: 41px;
}

.ui-btn-active {
  border-color: black !important;
  background-color: #666699 !important;
}

#sherif {
  margin-left: 8%;
  padding-top: 15%;
}

/*Flip*/

.image {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
}

.front {
  padding-top: 42px;
}

.back {
    display: none;
    padding: 85px 20px 60px 20px;
}

.flip {
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0);
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0);
}
.flip.out {
    -webkit-transform: rotateY(-90deg) scale(.9);
    -webkit-animation-name: flipouttoleft;
    -webkit-animation-duration: 300ms;
    -moz-transform: rotateY(-90deg) scale(.9);
    -moz-animation-name: flipouttoleft;
    -moz-animation-duration: 300ms;
}
.flip.in {
    -webkit-animation-name: flipintoright;
    -webkit-animation-duration: 400ms;
    -moz-animation-name: flipintoright;
    -moz-animation-duration: 400ms;
}
.flip.out.reverse {
    -webkit-transform: rotateY(90deg) scale(.9);
    -webkit-animation-name: flipouttoright;
    -moz-transform: rotateY(90deg) scale(.9);
    -moz-animation-name: flipouttoright;
}
.flip.in.reverse {
    -webkit-animation-name: flipintoleft;
    -moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
